.heading {
    position: relative;
    padding-top: 109px;
    z-index: 999;
    width: 100%;
    @include mmd {
        padding-top: 15px;
    }
    @include mmd {
        .navbar-toggler {
            padding: 6px;
        }
        .navbar-collapse {
            padding: 15px;
            & .navbar-nav {
                & a {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding:18px 0px;
                }
            }
        }
        & .navbar-nav {
            display: inherit;
            & .base-btn {
                margin-top: 15px;
            }
        }
    }
    & .navbar-brand{
        max-width: 186px;
    }
    & .base-btn{
        color: $black;
        @include font-20;
        font-weight: 300;
        padding: 19px 53px;
        line-height: 152.5%;
        border-radius: 44px;
        border: 1.197px solid $black;
        margin-left: 11px;
        &:hover{
            background: $black;
            color: #fff !important;
        }
        &.active{
            background: $black;
            color: #fff !important;
        }
        @include mmd{
            display: inline-block;
            margin-top: 20px;
            padding: 15px 35px;
        }
        & svg{
            rotate: -30deg;
            margin-right: 10px;
            margin-top: -5px;
        }
    }
}

.navbar-nav  {
    margin-right: 15px;
    a {
        display: block;
        color: $light_black;
        font-size: 18px;
        padding:5px 20px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover,
        &.active,
        &:focus {
            color: $primary !important;
        }
    }
    
    
}
.heading{
    &.fixed{
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        transition: all .3s ease-in-out;
        padding: 10px 0;
    }
}