.heading {
    position: relative;
    padding-top: 109px;
    z-index: 999;
    width: 100%;
    @include mmd {
        padding-top: 15px;
    }
    @include mmd {
        .navbar-toggler {
            padding: 6px;
            border: 0;
            margin-right: 8px
        }
        .navbar-toggler::focus {
           box-shadow: none;
        }
        
        .navbar-collapse {
            padding: 15px;
            & .navbar-nav {
                & a {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding:18px 0px;
                }
            }
        }
        & .navbar-nav {
            display: inherit;
            & .base-btn {
                margin-top: 15px;
            }
        }
    }
    & .navbar-brand{
        max-width: 186px;
    }
    & .base-btn{
        color: $black;
        @include font-20;
        font-weight: 300;
        padding: 19px 53px;
        line-height: 152.5%;
        border-radius: 44px;
        border: 1.197px solid $black;
        margin-left: 11px;
        &:hover{
            background: $black;
            color: #fff !important;
        }
        &.active{
            background: $black;
            color: #fff !important;
        }
        @include mmd{
            display: inline-block;
            padding: 15px 35px;
            & span{
                display: none
            }
            
        }
        @include sm{
            padding: 10px 24px;
        }
        & svg{
            rotate: -30deg;
            margin-right: 10px;
            margin-top: -5px;
        }
      
    }
}

.navbar-nav  {
    margin-right: 15px;
    a {
        display: block;
        color: $light_black;
        font-size: 18px;
        padding:5px 20px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover,
        &.active,
        &:focus {
            color: $primary !important;
        }
    }
    
    
}
.heading{
    &.fixed{
        position: fixed;
        background: rgba(255, 255, 255, 0.77);
        box-shadow: 0px 14px 57px 0px hsla(248, 100%, 72%, 0.167);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(16.5px);
        transition: all .4s ease-in-out;
        padding: 10px 0;
    }
    @include sm{
        .navbar-brand{
            max-width: 93px;
        }
    }
    @include mmd{
        .base-btn{
            margin-top: 0;
        }
    }
    & .dropdown{
        img{
          max-width: 34px;  
        }
        .dropdown-toggle:after {
            margin-left: 10px;
        }
        & .dropdown-toggle.btn.btn-primary{
            background: none !important;
            border: 0 !important;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 152.5%;
            img{
                margin:0 5px
            }
        }
        & .dropdown-menu {
            border-radius: 23px;
            background: rgba(255, 255, 255, 0.77) !important;
            box-shadow: 0px 14px 57px 0px rgba(132, 112, 255, 0.44);
            backdrop-filter: blur(16.5px);
            min-width: 236px;
            border: 0;
            margin-top: 20px;
            & .dropdown-item{
                padding: 12px 15px;
                color: rgba(0, 0, 0, 0.60);
                font-size: 18px;
                font-weight: 300;
                line-height: 152.5%;
                & img{
                    margin-right: 10px;
                }
            }
            & ::hover .dropdown-item{
                    font-weight: 600; 
            }
        }
        @include sm{
            display: none;
        }
    }
}

@media(max-width:992px){
    a.base-btn.Buy {
        border-radius: 50%;
        padding: 14px 16px;
        padding-top: 11px;
    }
    a.base-btn.Buy svg{
        margin: 0;
        margin-top: -5px;
    }
}
@media(min-width:992px){
    .menu__popup{
        display: none;
    }
}
@media(max-width:991px){
    .humberger{
        display: block !important;
        background: none !important;
        margin-right: 15px;
        padding: 0;
        border: 0 !important;
    }
    .menu__popup {
        position: absolute;
        max-width: 295px;
        width: 100%;
        top: 70px;
        left: 30px;
        border-radius: 23px;
        background: rgba(255, 255, 255, 0.77);
        box-shadow: 0px 14px 57px 0px rgba(132, 112, 255, 0.44);
        backdrop-filter: blur(16.5px);
        padding-top: 32px;
        padding-bottom: 34px;
        transition: all .5s ease-in-out;
        text-align: center;
        & .avater{
           & img{
                max-width: 76px;
           }
        }
        & p{
            font-size: 14px;
            color: $black;
            font-weight: 500;
            line-height: 152.5%;
        }
        & .mobile__menu{
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            margin-bottom: 20px;
            margin-top: 30px;
            & ul{
                li{
                    a{
                        color: rgba(0, 0, 0, 0.60);  
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 152.5%;
                        padding: 13px 22px;
                        display: inline-block;
                    }
                }
            }
        }
        & .header__social__icon{
            ul{
                li{
                    a{
                        display: inline-block;
                        padding: 0px 12px;
                    }
                }
            }
        }
    }
}

@media(max-width:576px){

}